<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> swtr - the canonical sweet web app </title>

    <meta name="description" content="Sweet Maker, Social, Semantic, Web, Decentralized, Makes Sweet, Sweet Swagger, Swtr, swtr">
    <link href="{{ url_for('static', filename='css/bootstrap.min.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='css/bootstrap-theme.min.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='css/annotorious.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='css/swtmaker.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='css/bootstrap-tags.css') }}"  rel="stylesheet">
  </head>

  <body>
    <!-- navigation and branding of the app -->
    <header id="header" class="navbar navbar-inverse" role="navigation">
      <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse"
            data-target="#swtr-navbar-collapse">

            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#/home">swtr - the canonical swt web app</a>
        </div>
        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="swtr-navbar-collapse">
          <ul class="nav navbar-nav navbar-right">
            <li class="active"> <a href="#/home" title="Home">
              <span class="glyphicon glyphicon-home"></span>
            </a></li>
            <li> <a href="#/play" title="My Playarea">
              <span class="glyphicon glyphicon-wrench"></span>
            </a></li>
            <li> <a href="#/linked-data" title="Linked Data">
              <span class="glyphicon glyphicon-globe"></span>
            </a></li>
            <li> <a href="#/search" title="Search External Sources">
              <span class="glyphicon glyphicon-search"></span>
            </a></li>
            <li> <a id="sign-in" href="#" title="">
              <span class="glyphicon glyphicon-user"></span>
              <span id="signinview"> Sign In </span>
            </a></li>
          </ul>
        </div>
      </div>
    </header>

    <div id="swtr-root" class="container">
      <div id="home-page" class="page">
        Lorem Ipsum
      </div>

      <div id="play-page" class="page">
        <!-- first row: helpview and sign in button -->
        <div class="row">
          <!-- helpview column of width md-8 -->
          <div class="col-md-8">
            <div id="helpview" class="bg-info">
              <span class="label label-default">Heads Up</span>
              <span id="helpview-text"></span>
            </div>
          </div>
          <!-- signin view column of width md-4 -->
          <div class="col-md-4"></div>
        </div> <!-- end first row -->
        <!-- second row: image URL input box and Load button -->
        <div class="row" id="user-input-row">
          <div class="col-md-8">
            <form class="form-inline" role="form">
              <div class="form-group col-md-11">
                <label class="sr-only" for="user-input">Enter URL of an image or web page</label>
                <input class="form-control" type="text"
                  placeholder="Enter URL of an image or web page" id="user-input">
              </div>
              <button type="submit" class="btn btn-primary" id="user-input-submit">Load</button>
            </form>
          </div>
          <div class="col-md-4">
          </div>
        </div> <!-- end second row -->
        <!-- third row - control panel? -->
        <div class="row" id="control-panel">
          <div class="col-md-8">
            <form class="form-inline" role="form">
              <div class="form-group">
                <label class="checkbox-inline">
                  <input type="checkbox" id="setbox"> Show annotated areas
                </label>
              </div>
              <div class="form-group">
                <label class="checkbox-inline">
                  <input type="checkbox" id="ocd-source"> Search in Open Cuultur Data
                </label>
              </div>
              <div class="form-group">
                <button class="btn btn-default" id="sweet">Sweet</button>
              </div>
            </form>
          </div>
          <div class="col-md-4"></div>
        </div> <!-- end third row -- >
        <!-- fourth row: the image annotation window -->
        <div class="row">
          <div id="img-annotation-wrapper" class="col-md-12 col-xs-12 col-lg-12 col-sm-12 well">
            <div id="img-anno-controls">
              <form class="form-inline" role="form">
                <div class="form-group">
                  <label class="checkbox-inline">
                    <input type="checkbox" id="setbox"> Show annotated areas
                  </label>
                </div>
              </form>
            </div>
          {% if url %}
            <img src="{{ url }}" id="annotatable-img" class="img-responsive" alt="Annotation Workbench">
          {% else %}
            <img src="" id="annotatable-img" class="img-responsive" alt="Annotation Workbench">
          {% endif %}
          </div>
          <div id="ocd-view"></div>
        </div> <!-- end fourth row -->
        <!-- <\!-- fifth row: options for filter -\-> -->
        <!-- <div id="filter-div" class="row"> -->
        <!--   <div id="filter-user-div"> -->
        <!--     <p><span>SWeeTs by</span></p> -->
        <!--   </div> -->
        <!--   <div id="filter-tags-div"> -->
        <!--     <p><span>Tags</span></p> -->
        <!--   </div> -->
        <!-- </div> <\!-- end fifth row -\-> -->

        <div id="sweet-list-wrapper">
          <ul id="sweet-list"></ul>
          <div class="btn-grp">
            <button class="btn btn-default" id="sweet-cancel">Cancel</button>
            <button class="btn btn-primary" id="post-sweet">Sweet</button>
          </div>
        </div>

      </div>

      <div id="linked-data-page" class="page"></div>
      <div id="search-page" class="page"></div>

    </div>
    <div id="app-overlay"></div>

    <script>
      window.swtr = window.swtr || {};
      swtr.swtstoreURL = function() { return '{{ config.swtstoreURL }}'; }
      swtr.endpoints = {
        'get': '/api/sweets/q',
        'post': '/api/sweets',
        'auth': '/oauth/authorize',
        'login': '/auth/login',
        'logout': '/auth/logout'
      };
      swtr.access_token = '{{ access_token }}';
      swtr.refresh_token = '{{ refresh_token }}';
      swtr.app_id = '{{ config.app_id }}';
      swtr.oauth_redirect_uri = '{{ config.redirect_uri }}';
      window.onload = function() {
        swtr.init();
      };
    </script>
    <script src="{{ url_for('static', filename='js/lib/jquery-1.10.2.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/lib/bootstrap.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/lib/underscore-1.5.2.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/lib/backbone-1.0.0.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/lib/annotorious.debug.js') }}"></script>
    <script src="{{ url_for('static', filename='js/lib/custom-fields-plugin.js') }}"></script>
    <script src="{{ url_for('static', filename='js/oauth.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/lib/bootstrap-tags.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/imganno.js') }}"></script>
    <script src="{{ url_for('static', filename='js/swtmaker.js') }}"></script>

    <script type="text/template" id="sweet-template">
      <li class="sweet">
        <a href="#">@<%= who %></a> <strong>#<%= what %></strong>
        /<a href="<%= where %>"><%= where.substr(0, 30) + '...' %></a>
        <p><%= how %></p>
      </li>
    </script>
    <script type="text/template" id="dropdown-template">
      <div id="tags-input"></div>
      <select class="form-control" id="custom-dropdown">
        <option value="comment" selected>Comment</option>
        <option value="title" >Title</option>
        <option value="tags">Tags</option>
        <option value="link">Link</option>
      </select>
    </script>
    <script type="text/template" id="popup-template">
      <span class="annotorious-popup-text">
        <ul class="custom-style-popup">
          <li class="custom-popup-line" ><span>Title: </span><%= Label %></li>
          <li class="custom-popup-line"><span>Comment: </span><%= Comment %></li>
          <li class="custom-popup-line"><span>Tags: </span><%= Tags %></li>
          <li class="custom-popup-line"><span>Related Links: </span><%= Links %></li>
        </ul>
      </span>
    </script>
    <script type="text/template" id="ocd-view-base-template">
      <div id="ocd-hud">
        <span id="ocd-total-results"></span>
      </div>
      <div id="ocd-results"></div>
      <ul class="pager">
        <li class="previous"> <a href="#">&laquo; Previous </a></li>
        <li class="next"> <a href="#"> Next &raquo; </a></li>
      </ul>
    </script>
    <script type="text/template" id="ocd-item-template">
      <div class="col-sm-6 col-md-4 ocd-item">
        <h4> <%= title %> </h4>
        <div class="media">
          <a href="<%= media_url %>">
            <img src="" class="responsive thumb-image">
          </a>
        </div>
        <div>Authors: <%= authors %> </div>
      </div>
    </script>
    <script type="text/template" id="filter-users">
      <ul>
        <input type="checkbox" name=<%= who %> checked="checked">
        <label><%= who %></label>
      </ul>
    </script>
    <script type="text/template" id="filter-tags">
      <ul>
        <input type="checkbox" checked="checked" name=<%= tag %>>
        <label><%= tag %></label>
      </ul>
    </script>

  </body>
</html>
