<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sweet Maker</title>

    <meta name="description" content="Sweet Maker, Social, Semantic, Web, Decentralized, Makes Sweet">
    <link href="{{ url_for('static', filename='css/bootstrap.min.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='css/bootstrap-theme.min.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='css/swtmaker.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='css/annotorious.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='css/swtmaker.css') }}" rel="stylesheet">
  </head>
  <body>

    <div id="swt-maker" class="container">
      <div id="helpview" class="alert alert-info col-md-8"></div>
      <div class="row" id="signinview">
        <form class="form-inline" role="form">
          <span id="signin-msg">You are not signed in. </span>
          <button class="btn btn-sm btn-primary" id="signin-credentials">
            Sign In
          </button>
        </form>
      </div>
      <div id="img-input" class="row">
        <div class="form-group col-md-8">
          <input type="text" placeholder="Enter URL of the image"
                 id="img-url-input" class="form-control">
        </div>
        <div class="col-md-2">
          <button class="btn btn-default" id="img-url-submit">Load</button>
        </div>
        <div class="col-md-8">
        <button class="btn btn-default" id="img-url-load">Annotate</button>
        <button class="btn btn-default" id="sweet">Sweet</button>
        <input id="setbox" type="checkbox"/ > <label
          id="setcontrol"><p>Show annotated areas</p></label>
        </div>
      </div>
      <div id="img-annotation-wrapper" class="col-md-12 col-xs-12 col-lg-12 col-sm-12 well">
        {% if url %}
          <img src="{{ url }}" id="annotatable-img">
        {% else %}
          <img src="" id="annotatable-img">
        {% endif %}
      </div>
      <div id="sweet-list-wrapper">
        <ul id="sweet-list"></ul>
        <div class="btn-grp">
          <button class="btn btn-default" id="sweet-cancel">Cancel</button>
          <button class="btn btn-primary" id="post-sweet">Sweet</button>
        </div>
      </div>
    </div>
    <div id="app-overlay"></div>

    <script>
      window.swtr = window.swtr || {};
      swtr.swtstoreURL = function() { return '{{ conf.swtstoreURL }}'; }
      swtr.endpoints = {'get': '/sweets/q', 'post': '/sweets', 'auth':
        '/authenticate'};
      window.onload = function() {
        swtr.init();
      };
    </script>
    <script src="{{ url_for('static', filename='js/lib/jquery-1.10.2.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/lib/bootstrap.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/lib/underscore-1.5.2.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/lib/backbone-1.0.0.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/lib/annotorious.debug.js') }}"></script>
    <!--script src="https://login.persona.org/include.js"></script-->
    <script src="{{ url_for('static', filename='js/swtmaker.js') }}"></script>

    <script type="text/template" id="sweet-template">
      <li class="sweet">
        <a href="#">@<%= who %></a> <strong>#<%= what %></strong>
        /<a href="<%= where %>"><%= where.substr(0, 30) + '...' %></a>
        <%= how %>
      </li>
    </script>
    <script type="text/template" id="signin-credentials-template">
        <div class="form-inline col-md-3">
          <label class="sr-only" for="username">Username</label>
          <input type="text" class="form-control" id="username" placeholder="Enter username">
        </div>
        <div class="form-inline col-md-3">
          <label class="sr-only" for="password">Password</label>
          <input type="password" class="form-control" id="password" placeholder="Password">
        </div>
    </script>
  </body>
</html>
