body {
  overflow-y: scroll;
}
/* styles modifying annotorious editor default styles */
.annotorious-editor {
  min-width: 250px;
}
.annotorious-editor-text {
  font-size: 12px;
  min-height: 35px;
}

#swt-maker {
}

#control-panel {
  margin-top: 10px;
  margin-left: 0;
}

#signinview {
  margin 0 20px;
  padding: 10px;
  text-align: center;
  z-index: 100001;
}

#img-annotation-wrapper, #ocd-results {
  margin: 30px auto 0 auto;
}

#annotatable-img {
  margin: 0 auto;
  max-width: 1125px;
}

#sweet-list-wrapper {
  width: 500px;
  min-height: 300px;
  position: absolute;
  top: 33%;
  left: 33%;
  z-index: 1000;
  border: 1px solid #999;
  box-shadow: 1px 1px 6px #999;
  background-color: #FFF;
  padding: 30px;
  display: none;
}

#sweet-list {
  margin-bottom: 10px;
}

.ocd-item {
  padding-bottom: 4px;
  border: 1px solid #ddd;
  border-radius: 4px;
  margin-bottom: 20px;
  text-align: center;
}

.thumb-image {
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  display: block;
  height: 400px;
  margin: 0 auto;
}

#sweet {
  display: none;
}

#helpview {
  font-size: 1.2em;
  padding: 8px;
  box-shadow: 1px 1px 3px #ccc;
  color: #444;
}
#helpview-text {
  text-align: center;
  margin-left: 30px;
}
#app-overlay {
  position: fixed;
  top: 0;
  left: 0;
  display: none;
  width: 100%;
  height: 100%;
  z-index: 10000;
  background-color: rgba(255, 255, 255, 0.7);
}

#user-input-row .form-inline .form-control {
  width: 100%;
}

.page {
  display: none;
}


/* text-annotation styles */

#overlayBar {
  background: #fff;
  border-bottom: 1px solid #ccc;
  left: 0;
  opacity: 0.95;
  position: fixed;
  top: 0;
  width: 100%;
}

.nav-btn {
  margin-left: 10px;
}
